<launch>
	<node name="extract_features_node" pkg="automatic_painting" type="extract_features_node"  output="screen" respawn="true">
		<remap from="points" to="/surface" />
	</node>

  <node name="point_cloud_node" pkg="automatic_painting" type="point_cloud_node" output="screen" respawn="true">
    <remap from="input" to="/camera/depth/points" />
  </node>
</launch>
